/**
 TODO(you): Write the CSS necessary for fivecolortools.html
*/

body {
   text-align: center;
    font-family: 'Alice', serif;
}

#header1 {
    background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url("images/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.headerTitle {
  font-family: 'Miriam Libre', sans-serif;
    font-size: 55px;
    font-weight: normal;
    color:white;
    margin: 0;
    max-width: 780px;
    
}

#profileImage img {
   background-repeat: no-repeat;
    width: 100px;
    border-radius: 100%;
    border: 1px solid white;
    margin-top:-50px;
}

#profileText {
    margin-left: auto;
    margin-right: auto;
    line-height: 33px;
}
.profileName {
    font-size: 33px;
    font-weight: bold;
    
}

.lastUpdate {
    font-style: italic;
    padding-bottom: 10px;
    border-bottom: 2px solid #e6e6e6;
    
}

#items div {
    margin-left: auto;
    margin-right: auto;
    width: 66.67%;
    text-align: left;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;
    perspective-origin: 0 0;
}

#item {
    margin-top: 60px;
    margin-left: 40px;
    transform-origin: 0 0;
    transform: translateZ(-2px) scale(3);
}

.itemHeading {
  font-family: 'Zilla Slab Highlight', cursive;
    font-style: normal;
    font-size: 45px;
    font-weight: bold;
    color:rgb(51, 51, 51);
    text-align: inherit;
}

.link {
    color:#42b4d6;
    text-decoration: none;
    margin-bottom: 20px;
}

.link:hover {
    text-decoration: underline
}

.itemP {
    font-size: 23px;
    line-height: 32px;
    color: rgb(51, 51, 51);
}

quote {
    margin-top: 20px;
    margin-bottom: 20px;
  font-style: italic;
  font-size: 21px;
  background-color: gold;
}

.itemImg {
    width: 100%;
    margin-bottom: 120px;
  margin-top: 30px;
}

footer {
	width:100%;
	height:50%;
	color:gold ,solid;
	font-size:italic, bold;
	border:30px,solid,black;
	text-align: center;
    font-family: 'Alice', serif;
	}